name: Upload to jolpica-f1

on:
  pull_request_target:
    branches: [main]
    paths:
      - 'data/**'
      - '.github/workflows/upload.yml'
  push:
    branches: [main]
    paths:
      - 'data/**'
      - '.github/workflows/upload.yml'

jobs:
  upload:
    name: Upload with jf1
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Checkout uploaded branch
        uses: actions/checkout@v4
        with:
          ref: uploaded
          fetch-depth: 0
          path: uploaded-branch

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Install
        run: |
          go install github.com/jolpica/jf1@v0.1.2

      - name: Upload
        id: upload
        run: |
          jf1 upload data/* --dry-run=${{ github.event_name != 'push' }}
        env:
          JF1_SECRET_TOKEN: ${{ secrets.JF1_SECRET_TOKEN }}

      - name: Notify Slack on Upload Failure  
        if: failure() && steps.upload.conclusion == 'failure' && github.event_name == 'push'
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            blocks:
            - type: "section"
              text:
                type: "mrkdwn"
                text: "*Failed to upload data from jolpica-f1-data to jolpica-f1*"
            - type: "section"
              text:
                type: "mrkdwn"
                text: "<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|Upload Log>"

      - uses: EndBug/add-and-commit@v9
        id: commit
        if: github.event_name == 'push'
        with:
          add: 'uploaded.gob'
          cwd: uploaded-branch
          author_name: jf1 uploader
          author_email: dataimport@jolpi.ca
          message: "Update uploaded data"

      - name: Notify Slack on Successful Upload and Commit
        if: success() && steps.commit.outputs.committed == 'true'
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            blocks:
            - type: "section"
              text:
                type: "mrkdwn"
                text: "*Uploaded new data from public jolpica-f1-data*"
            - type: "section"
              text:
                type: "mrkdwn"
                text: "<https://github.com/${{ github.repository }}/commit/${{ github.sha }}| ${{ steps.commit.outputs.commit_title }} >"
